.schedule_table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.schedule_thead {
    background-color: #dcdcdc;
    text-align: left;
}

.schedule_tr > th, .schedule_tr > td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

.schedule_tbody tr:hover {
    background-color: #ebebeb;
}

.schedule_tbody td:first-child {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .schedule_table {
        font-size: 14px;
    }
}

.schedule_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.schedule_button {
    margin: 20px auto 0 !important; 
}

.form_first {
    display: flex;
    align-items: center;
}

.schedule_select {
    margin-right: 25px;
}

.schedule_label {
    margin: 0px 10px 0 0;
}

.subtitle.block_72087 {
    height: 165px;
}

@media (max-width: 767px) {
    .form_first {
        flex-direction: column;
    }
    .schedule_select {
        margin-right: 0px;
    }
    .schedule_label {
        margin-top: 10px;
    }
}